.fr-head {
    background-color: rgb(255, 99, 0,0.2)  ;
    border:solid rgb(227, 79, 6) 1px;
  
}


.photogrphy{
    font-weight: 700;
    font-size: 72px;
}


.photogrphy span{
color: #FBA620;

}

.innerHomeSec p{
    font-size: 24px;
}

.buttons .more-btn:hover{
    background-color: rgb(255, 107, 2,0.1);
    border:solid 1px rgb(249, 105, 2,0.2);
    color: white;
}

.icon-box{
    color: #ED5D0E;
}

.card-item{
    background-color: #121212;
    border :1px solid 
    
    rgb(90, 90, 90)
}

.card-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.1);
}
